@import url('https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font: 1.8rem/1.6 Raleway, sans-serif;
}

.ba-container {
    max-width: 960px;
    width: 96%;
    outline: 1px solid red;
}

header {
    min-height: 100vh;
    background: #23232E;
    color: #FFF;
    text-align: center;
    padding: 70px 0 140px;
    position: relative;
}

header h1 {
    text-transform: uppercase;
    font-size: 8rem;
    margin: 15vh 0 30px 0;
    line-height: 1;
}

header p {
    max-width: 430px;
    margin: 0 auto;
}

.scroll {
    width: 44px;
    height: 44px;
    border: 2px solid #FFF;
    display: inline-block;
    border-radius: 50%;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: all .25s ease-in;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.scroll:hover,
.scroll:focus,
.scroll:active {
    border-color: rgba(255,255,255, 0.6);
    background-position: center 60%;
}